@let amiiboDetail = cardMangerSrv.GetAmiiboFromID(head,tail);
<button (click)="commentManagerSrv.AddComment(amiiboDetail.head+amiiboDetail.tail, {'user':'utente','body':'corpo','title':'titolo'})">Add comment</button>
@if (amiiboDetail.head == "-1" || amiiboDetail.tail == "-1"){
  <h1>HEAD: {{amiiboDetail.head}}</h1>
  <h1>TAIL: {{amiiboDetail.tail}}</h1>
  <h1>NAME: {{amiiboDetail.name}}</h1>
}@else {
  <h3>NAME: {{amiiboDetail.name}}</h3>
  <h3>FROM: {{amiiboDetail.gameSeries}}</h3>
  <img [src]="amiiboDetail.image" alt=":D" height="600px" width="600px">
  @for (comment of commentManagerSrv.GetComments(amiiboDetail.head+amiiboDetail.tail); track $index) {
    <h2>Title: {{comment.comment.title}}</h2>
    <h3>User: {{comment.comment.user}}</h3>
    <h4>Body: {{comment.comment.body}}</h4>
  }@empty {
    <h1>NESSUN COMMENTO SU QUESTO AMIIBO</h1>
  }
  <app-UsageTable [tableName]="'Nintendo switch games'" [tableData]="amiiboDetail.gamesSwitch"></app-UsageTable>
  <app-UsageTable [tableName]="'Nintendo 3DS games'" [tableData]="amiiboDetail.games3DS"></app-UsageTable>
  <app-UsageTable [tableName]="'Nintendo WIIU games'" [tableData]="amiiboDetail.gamesWiiU"></app-UsageTable>
}