@let amiiboDetail = cardMangerSrv.GetAmiiboFromID(head,tail);
<!--<button (click)="commentManagerSrv.AddComment(amiiboDetail.head+amiiboDetail.tail, {'user':'utente','body':'corpo','title':'titolo'})">Add comment</button> -->
@if (amiiboDetail.head == "-1" || amiiboDetail.tail == "-1"){
  <h1>HEAD: {{amiiboDetail.head}}</h1>
  <h1>TAIL: {{amiiboDetail.tail}}</h1>
  <h1>NAME: {{amiiboDetail.name}}</h1>
}@else {
  <h3>NAME: {{amiiboDetail.name}}</h3>
  <h3>FROM: {{amiiboDetail.gameSeries}}</h3>
  <img [src]="amiiboDetail.image" alt="" height="600px" width="600px">
  <!-- <form>
    <label for="user">user name</label>
    <input
        type="text"
        name="uName"
        id="uName"
        [(ngModel)]="uName"
    >
    <label for="title">Title</label>
    <input
        type="text"
        name="title"
        id="title"
        [(ngModel)]="title"
    >
    <label for="body">Body</label>
    <input
        type="text"
        name="body"
        id="body"
        [(ngModel)]="body"
    > -->
    @let newComment = {
      'user': "cicco",
      'title': "Prova {{amiiboDetail.name}}",
      'body': "Questa è una prova di un commento sull'amibo di {{amiiboDetail.name}}"};
    <button (click)="commentManagerSrv.AddComment(amiiboDetail.head+amiiboDetail.tail,newComment)">
      SUBMIT
    </button>
  <!-- </form> -->
  @for (comment of commentManagerSrv.GetComments(amiiboDetail.head+amiiboDetail.tail)?.comments; track $index) {
    <h2>Title: {{comment.title}}</h2>
    <h3>User: {{comment.user}}</h3>
    <h4>Body: {{comment.body}}</h4>
  }@empty {
    <h1>NO COMMENTS ABOUT THIS AMIIBO</h1>
  }
  <app-UsageTable [tableName]="'Nintendo switch games'" [tableData]="amiiboDetail.gamesSwitch"></app-UsageTable>
  <app-UsageTable [tableName]="'Nintendo 3DS games'" [tableData]="amiiboDetail.games3DS"></app-UsageTable>
  <app-UsageTable [tableName]="'Nintendo WIIU games'" [tableData]="amiiboDetail.gamesWiiU"></app-UsageTable>
}
