<p-inputgroup>
+    <p-inputgroup-addon>
+        <i class="pi pi-user"></i>
+    </p-inputgroup-addon>
+    <input pInputText [(ngModel)]="query" placeholder="Username" />
+</p-inputgroup>
<div class="amiibo_container">
  @let amiibos = callSearchForAmiibo();
  @for (card of amiibos; track $index) {
    <app-amiibo-card [card]="card"></app-amiibo-card>
  }@empty {
    <h1>NESSUN AMIIBO TROVATO, ATTENDERE...</h1>
  }
</div>
<div class="update_button">
  <p-button label="SHOW MORE"  icon="pi pi-refresh" iconPos="bottom" (onClick)="cardManagerService.showMoreCards()" [disabled]="! activateButton()"/>
</div>

